/* Benefícios section */

.cards-beneficio {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;

    margin-top: 64px;
}

.cards-beneficio .card {
    position: relative;
    max-width: 490px;
    padding: 48px;
    background: #FFFFFF;
    border: 1px solid #E7E7E7;
    border-radius: 16px;

    flex-basis: 50%;
}

.cards-beneficio .card p {
    max-width: 288px;
}


.cards-beneficio .card img {
    position: absolute;
    top: 48px;
    right: 0;
}

@media (max-width: 1100px) {
    .cards-beneficio {
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;

        padding: 0 16px;

    }

    .cards-beneficio .card {
        width: 640px;
        padding: 24px;
    }

    .cards-beneficio .card img {
        position: absolute;
       
        top: 16px;
        right: 0;
    }

}

@media (max-width: 540px) {

    .cards-beneficio {
        padding: 0 16px;
    }

    .cards-beneficio .card {
        width: 100%;
        padding: 24px 100px 24px 24px;
    }

    .cards-beneficio .card img {
        width: 25%;
    }
}
