/* FAQ section */

.faq {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 80px 16px;
}


.box-perguntas {
    width: 100%;
    max-width: 590px;
    margin: 48px 0;
}



details {
    padding: 24px 16px;
    border: 1px solid #E0E0E0;
    border-bottom: 0;
}

details:first-child {
    
    border-radius: 16px 16px 0px 0px;
}

details:last-child {
    
    border-radius: 0 0 16px 16px;
    border-bottom: 1px solid #E0E0E0;
}


details summary { 
    cursor: pointer;
    list-style: none;

    font-size: 18px;
    font-weight: bold;
    color: #222;
  }
  
  details summary > * {
    display: inline;
  }

  details p {
    margin-bottom: 0;
  }

  .banner-duvidas {
    max-width: 590px;
    padding: 24px 32px;

    background: linear-gradient(180deg, rgba(255, 185, 6, 0.05) 0%, rgba(255, 92, 0, 0.05) 100%), #FFFFFF;
    border: 1px solid #EAE2CF;
    border-radius: 16px;

    text-align: center;

    h3 {
        font-size: 24px;
    }

    a {
        color: #FF9205;
        text-decoration: none;
    }
  }

  @media (max-width: 740px) {
    .faq {
        padding-top: 0;
    }
  }

 