/* Global */

* {box-sizing: border-box}

.wrap {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
}

section {
    padding: 80px 0;
}


body {font-family: 'Montserrat', sans-serif;}

h1, h2 {
    font-family: 'Dela Gothic One', sans-serif;
}

h1 {
    font-size: 48px;
    line-height: 1.4;
    text-align: center;

    color: #222222;

    z-index: 2; 
}

h2 {
    margin: 0 0 12px 0;

    font-size: 40px;
    line-height: 1.2;
    text-align: center;

    color: #222222; 
}


.subtitulo {
    margin: 0;

    font-size: 24px;
    text-align: center;
    
    color: #555555;
}


p {
    font-size: 18px;
    line-height: 1.5;
}

small {
    font-size: 14px;
}

.cta:hover,
.cards-entregaveis .card a:hover,
.btn:hover,
.btn-secundario:hover {
    transform: scale(1.1);
    transition: transform .3s;
}


@media (max-width: 740px) {

    section {
        padding: 40px 0;
    }

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 32px;
    }


}