/* Hero section */

.hero {
    width: 100%;
    
    flex-direction: column;
    -ms-flex-align: center;

    background: linear-gradient(180deg, #FFF4EB 0%, rgba(255, 244, 235, 0) 108.95%);

    position: relative;
}

.hero::before {
    content: url(/img/pattern-esquerda.svg);
    display: block;
    
    position: absolute;
    top: 0;
    left: 0;

    z-index: -1;
    

}

.hero::after {
    content: url(/img/pattern-direita.svg);
    display: block;
    
    position: absolute;
    top: 0;
    right: 0;

    z-index: -1;
    
}

.hero .wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    width: 100%;
    max-width: 964px;
    margin: 0 auto;

   

}

.logo {
    display: block;
    margin: 0 auto;

    
}

.hero p {
    margin-top: 0;
    margin-bottom: 56px;

    font-size: 32px;
    line-height: 1.2;

    text-align: center;

    color: #555555;

    
}

.hero .select-type {
    display: inline-block;
    color: #E66200;
    position: relative;

    
}


.hero .select-type::after {
    content: " ";
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(/img/chevron.svg);

    position: absolute;
    top: 10px;
    right: -24px;
}

.cta {
    display: inline-block;
    margin: 0 auto;
    padding: 12px 24px;

    font-weight: bold;
    font-size: 24px;
    line-height: 1.2;
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 1px 0px #D15A00;
    text-decoration: none;

    border: 0;
    border-top: 1px solid;

    border-color: rgba(255, 255, 255, 0.8);

    background: linear-gradient(273.59deg, #FF5F04 -10.45%, #FFC805 113.4%);
    box-shadow: 0px 2px 30px rgba(255, 110, 5, 0.5);
    border-radius: 54px;
}

.hero ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 80px;

    list-style-type: none;
    padding: 0;
    margin: 75px 0 0 0;

    font-size: 18px;
}

.hero ul li {
    display: flex;
    align-items: center;
    gap: 12px;

    color: #555555;
}

.icon-assinatura::before {
    content: url(/img/ic-assinatura-mensal.svg);
   
}

.icon-sem-contrato::before {
    content: url(/img/ic-sem-contrato.svg);
   
}

.icon-cancele::before {
    content: url(/img/ic-cancele.svg);
    
}


@media (max-width: 740px) {
    .hero p {
        font-size: 24px;
    }

    .hero .select-type::after {
        top: 4px;
    }

}



@media (max-width: 600px) {
    .hero ul {
        flex-direction: column;
        gap: 32px;
        align-items: start;
    }
}

@media (max-width: 450px) {

    .hero::before,
    .hero::after {  
        display: none;  
    }
   
}