/* Vantagens section */

.vantagens {
    background-color: #222;
    color: #fff;
}

.vantagens h2 {
    line-height: 1.5;
    max-width: 900px;
    color: #fff;
    margin: 0 auto;
    margin-bottom: 64px;
}


.bullets-vantagens {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 48px 0;
    
}

.item-vantagem {
    flex-basis: 33%;
    
    text-align: center;
}

.item-vantagem p {
    margin: 16px auto;
    max-width: 285px;

}

@media (max-width: 740px) {
    .bullets-vantagens {
        flex-direction: column;
        margin: 0 auto;
        max-width: 80%;
    }

    .item-vantagem {
        display: flex;
        flex-direction: row;
        gap: 16px;
        justify-content: left;
        align-items: center;
        text-align: left;
    }

    .item-vantagem p {
        margin: 0;
        max-width: 100%;
    }
}


@media (max-width: 430px) {

    .bullets-vantagens {
        max-width: 100%;
    }

    .vantagens h2 {
        font-size: 24px;
    }
} 