doctype html
html(lang="pt-br")
    head

        // Google tag (gtag.js)
        script(async src="https://www.googletagmanager.com/gtag/js?id=G-BL996T8M9D")
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-BL996T8M9D');
            

        // Hotjar Tracking Code for https://protocook.com/
        script.
            (function(h,o,t,j,a,r){
                h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
                h._hjSettings={hjid:3679191,hjsv:6};
                a=o.getElementsByTagName('head')[0];
                r=o.createElement('script');r.async=1;
                r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
                a.appendChild(r);
            })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');


        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        meta(name="description" content="Design de protótipos por assinatura.")

        link(rel="icon" type="image/png" href="/img/favicon.png" sizes="16x16")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Montserrat:wght@400;700&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="css/style.css")
        title Protocook

    body
        
        section.hero 
            .wrap 
                img.logo(src="/img/logo-protocook.svg", alt="Protocook logo")
                h1 Prototype-as-a-Service para startups e times de produto
                p Design de protótipos por assinatura para#[br] #[span.select-type apps]
                a.cta(href="#planos") Veja os planos
                ul
                    li.icon-assinatura Assinatura mensal
                    li.icon-sem-contrato Sem contrato
                    li.icon-cancele Cancele quando quiser
        section.como-funciona 
            .wrap 
                h2 Conheça a receita
                p.subtitulo Seus protótipos prontos em alguns dias
                ul.steps 
                    li.step 
                        img(src="/img/ic-pedido.svg", alt="Ícone pedido")
                        h3 Pedido
                        p Crie uma lista de pedidos e escolha um de cada vez para ser executado.
                    li.step 
                        img(src="/img/ic-design.svg", alt="Ícone design")
                        h3 Design
                        p O protótipo é desenhado com entregas parciais em até 5 dias úteis. 
                    li.step 
                        img(src="/img/ic-feedback.svg", alt="Ícone feedback")
                        h3 Feedback
                        p Revise, solicite ajustes ou prossiga com a evolução do protótipo.
        
        section.exemplos 
            .telas
                .tela
                    img(src="/img/mytoken.png")
                .tela
                    img(src="/img/vanhall.png")
                .tela
                    img(src="/img/panda.png")
                .tela
                    img(src="/img/conteledesk.png")
                .tela.mobile
                    img(src="/img/conteleapp.png")
                .tela.mobile
                    img(src="/img/meucartao.png")
                .tela.mobile
                    img(src="/img/marino.png")
            
        section.designers 
            p Projetado por designers experts da indústria com trabalhos realizados para grandes marcas
            .logos 
                .slider
                    .slide-track
                        .slide
                            img(src="/img/pagseguro.png", width="158", height="84")
                        .slide
                            img(src="/img/huggies.png", width="158", height="84")
                        .slide
                            img(src="/img/tokstok.png", width="158", height="84")
                        .slide
                            img(src="/img/peugeot.png", width="158", height="84")
                        .slide
                            img(src="/img/bradesco.png", width="158", height="84")
                        .slide
                            img(src="/img/madeira.png", width="158", height="84")
                        .slide
                            img(src="/img/outback.png", width="158", height="84")
                        .slide
                            img(src="/img/moderna.png", width="158", height="84")
                        .slide
                            img(src="/img/sulamerica.png", width="158", height="84")
                        .slide
                            img(src="/img/extra.png", width="158", height="84")
                        .slide
                            img(src="/img/bahia.png", width="158", height="84")
                        .slide
                            img(src="/img/ponto.png", width="158", height="84")
                        .slide
                            img(src="/img/smiles.png", width="158", height="84")
                        .slide
                            img(src="/img/minuto.png", width="158", height="84")
                        .slide
                            img(src="/img/pagseguro.png", width="158", height="84")
                        .slide
                            img(src="/img/huggies.png", width="158", height="84")
                        .slide
                            img(src="/img/tokstok.png", width="158", height="84")
                        .slide
                            img(src="/img/peugeot.png", width="158", height="84")
                        .slide
                            img(src="/img/bradesco.png", width="158", height="84")
                        .slide
                            img(src="/img/madeira.png", width="158", height="84")
                        .slide
                            img(src="/img/outback.png", width="158", height="84")
                        .slide
                            img(src="/img/moderna.png", width="158", height="84")
                        .slide
                            img(src="/img/sulamerica.png", width="158", height="84")
                        .slide
                            img(src="/img/extra.png", width="158", height="84")
                        .slide
                            img(src="/img/bahia.png", width="158", height="84")
                        .slide
                            img(src="/img/ponto.png", width="158", height="84")
                        .slide
                            img(src="/img/smiles.png", width="158", height="84")
                        .slide
                            img(src="/img/minuto.png", width="158", height="84")
                               
        
        
        
        section.beneficios 
            .wrap 
                h2 Ingredientes de primeira
                p.subtitulo Confira as vantagens para o seu negócio
                .cards-beneficio 
                    .card
                        h3 Pedidos ilimitados
                        p Solicite quantos pedidos quiser. Eles serão desenhados um por vez. E sem limite para ajustes.
                        img(src="/img/ic-infinito.svg", alt="Ícone infinito")
                    .card
                        h3 Sem burocracia
                        p Não há contrato nem reuniões. Comece hoje mesmo e cancele quando quiser.
                        img(src="/img/ic-rocket.svg", alt="Ícone foguete")
                    .card
                        h3 Alta qualidade
                        p Os protótipos são projetados com as melhores práticas em design e usabilidade.
                        img(src="/img/ic-pincel.svg", alt="Ícone pincel")
                    .card
                        h3 Entregas rápidas
                        p As entregas parciais são feitas em alguns dias para revisão e a evolução é constante.
                        img(src="/img/ic-raio.svg", alt="Ícone raio") 

        section.processo 
            h2 Modo de preparo 
            p.subtitulo Passo a passo da produção dos protótipos
            .trilha
                .passo.passo-setup
                    h4 Setup 
                    p Entendimento do negócio e o que já existe do produto, como telas, padrões, cores, navegação e referências. Não tem? Sem problemas, criamos para você.
                .passo.passo-requisitos
                    h4 Requisitos 
                    p Descreva as funcionalidades e telas previstas, assim como o problema a ser resolvido pela feature.
                .passo.passo-design-mobile
                    h4 Design 
                    p Iremos analisar e iniciar o desenho do protótipo, fazendo entregas parciais em ciclos de 3 a 5 dias.
                .passo.passo-feedback
                    h4 Feedback 
                    p Faça a revisão, solicitando ajustes ou dando o ok para prosseguirmos.
                .passo.passo-design
                    h4 Design 
                    p Iremos analisar e iniciar o desenho do protótipo, fazendo entregas parciais em ciclos de 3 a 5 dias.
                .passo.passo-refinamento
                    h4 Refinamento 
                    p Quando o ciclo de feedbacks e evoluções terminam fazemos uma revisão geral no projeto e organizamos as documentações e arquivos de design.
                .passo.passo-handoff
                    h4 Handoff 
                    p Caso o protótipo vá para desenvolvimento, entregamos as telas com especificações de design e exportação de assets.
                
                img(src="img/looping.svg", alt="Trilha com as etapas do processo") 
            .entregaveis 
                h3 Entregáveis produzidos
                .cards-entregaveis
                    .card.card-prototipo
                        h4 Protótipo interativo
                        p É possível navegar e simular interações com as funcionalidades das telas.
                        a(href="#") Ver exemplo
                    .card.card-fluxo
                        h4 Fluxo de telas
                        p Documento com o mapa de navegação e fluxos de interações.
                        a(href="#") Ver exemplo
                    .card.card-video
                        h4 Vídeo demo
                        p Vídeo guiado explicando as decisões de design e funcionamento das telas.
                        a(href="#") Ver exemplo
                    .card.card-arquivos
                        h4 Arquivos de design
                        p Mockups das telas para inspeção de código e exportação de assets.
                        a(href="#") Ver exemplo

        section.vantagens 
            .wrap 
                h2 Por que usar prótotipos?
                .bullets-vantagens 
                    .item-vantagem
                        img(src="/img/ic-ideia.svg", alt="Ícone ideia")
                        p Valide ideias antes do desenvolvimento.
                    .item-vantagem
                        img(src="/img/ic-caixa.svg", alt="Ícone análise")
                        p Melhore a análise de requisitos.
                    .item-vantagem
                        img(src="/img/ic-livro.svg", alt="Ícone documentação")
                        p Diminua documentações extensas de especificação.
                    .item-vantagem
                        img(src="/img/ic-apresentacao.svg", alt="Ícone apresentação")
                        p Utilize em apresentações de produto e investidores.
                    .item-vantagem
                        img(src="/img/ic-like.svg", alt="Ícone feedback")
                        p Colha feedback de stakeholders e clientes.
                    .item-vantagem
                        img(src="/img/ic-bug.svg", alt="Ícone erros")
                        p Reduza riscos no projeto e refatoração no código.

        section.planos 
            h2#planos Escolha seu plano
            p.subtitulo Valor fixo mensal, sem contrato ou taxas escondidas
            .cards-planos
                .card-plano.basico
                    h3 Básico
                    .inner-content
                        p Para times que precisam de uma ideia inicial.
                        ul
                            li Wireframes e rascunhos
                            li Navegação entre telas
                            li Revisões a cada 5 dias úteis
                            li 1 pedido ativo por vez
                            li Ajustes ilimitados
                        
                        p.preco R$ #[span 1.999]/mês
                        a.btn(href="#") Assinar
                        a.demo(href="#") Agende uma demonstração

                .card-plano.plus
                    h3 Plus
                    .inner-content
                        p Para times que precisam experimentar e validar features.
                        ul
                            li Protótipos em alta-fidelidade
                            li Interações simples
                            li Revisões a cada 5 dias úteis
                            li 1 pedido ativo por vez
                            li Ajustes ilimitados
                        
                        p.preco R$ #[span 4.999]/mês
                        a.btn(href="#") Assinar
                        a.demo(href="#") Agende uma demonstração

                .card-plano.super
                    h3 Super
                    .inner-content
                        p Para times que precisam testar experiências mais ricas.
                        ul
                            li Protótipos em alta-fidelidade
                            li Interações avançadas
                            li Revisões a cada 3 dias úteis
                            li 1 pedido ativo por vez
                            li Ajustes ilimitados
                        
                        p.preco R$ #[span 9.999]/mês
                        a.btn(href="#") Assinar
                        a.demo(href="#") Agende uma demonstração

            p.experimente #[strong Experimente 5 dias grátis.] Cancele quando quiser.

        section.faq
            h2 Perguntas frequentes
            p.subtitulo Entenda mais detalhes e tire suas dúvidas
            .box-perguntas
                details.pergunta
                    summary Qual a diferença de contratar um designer ou agência?
                    p Os custos com salário, benefícios e impostos de um designer sênior pode chegar a R$ 20.000 por mês. Em agências e consultorias você paga altos valores para projetos fechados com fluxos demorados de negociação e orçamento. No Protocook você começa agora, tem seus protótipos em alguns dias e pode cancelar a assinatura quando não precisar mais. 
                details.pergunta
                    summary Como eu faço o pedido para o desenho do protótipo?
                    p Resposta
                details.pergunta
                    summary Vocês desenham landing pages e sites institucionais?
                    p Resposta
                details.pergunta
                    summary Os protótipos são funcionais?
                    p Resposta
                details.pergunta
                    summary Em quais ferramentas os protótipos são feitos?
                    p Resposta
                details.pergunta
                    summary A posse dos arquivos é minha?
                    p Resposta
                details.pergunta
                    summary Qual a política de NDA (Acordo de não-divulgação)?
                    p Resposta
                details.pergunta
                    summary Existe algum limite para os pedidos?
                    p Resposta
                details.pergunta
                    summary Quanto tempo leva para desenhar?
                    p Resposta
                details.pergunta
                    summary Quais tipos de protótipos podem ser solicitados?
                    p Resposta
                details.pergunta
                    summary E se eu não gostar do design do protótipo?
                    p Resposta
                details.pergunta
                    summary Como é feita a gestão das entregas?
                    p Resposta
                details.pergunta
                    summary Quem são os designers?
                    p Resposta
                details.pergunta
                    summary Vocês participam de todo processo de design e produto?
                    p Resposta
                details.pergunta
                    summary Posso cancelar quando quiser? Existe multa?
                    p Resposta
                details.pergunta
                    summary Os protótipos podem ser MVPs?
                    p Resposta
                details.pergunta
                    summary Qual diferença de wireframes e protótipos de alta-fidelidade?
                    p Resposta
                details.pergunta
                    summary Os protótipos são desenvolvidos em código (HTML, CSS, JS)?
                    p Resposta
                details.pergunta
                    summary Vocês fazem call para alinhamento e reviews?
                    p Resposta
                details.pergunta
                    summary Vocês participam de daily e alinhamentos com o time de produto/tech?
                    p Resposta
                details.pergunta
                    summary Os protótipos são responsivos?
                    p Resposta
            
            .banner-duvidas 
                h3 Tem mais dúvidas?
                p #[a(href="#") Agende uma demonstração] ou #[br] fale com a gente em #[a(href='#') contato@protocook.com]
        
        footer 
            .wrap 
                .info
                    img.logo-footer(src="/img/logo-footer.svg", alt="Logo Protocook")
                    p Experimente e descubra como seu time pode mudar a forma que projeta soluções de forma rápida, barata e sem burocracia.
                    small © ProtoCook. Todos direitos reservados.

                ul.links 
                    li
                        a(href="#") Preços e planos
                    li
                        a(href="#") Termos de uso
                    li
                        a(href="#") Agende uma demo
                    li
                        a(href="#") Contato
                    li
                        a(href="#") FAQ

        .cookie-popup 
            img(src="/img/cookie.svg", alt="Ilustração de um cookie")
            p Usamos cookies para analisar e melhorar sua experiência.
            a.btn-secundario(href="") Ok, sem problema
            a.link-termo(href="") Termos de uso  

        script. 
            document.querySelector('.telas').scrollTo(800, 0);

            document.querySelector('.cookie-popup .btn-secundario').addEventListener("click", function(e){
                e.preventDefault();
                document.querySelector('.cookie-popup').style.display = "none";

                
            })



            document.addEventListener('DOMContentLoaded',function(event){
            // array with texts to type in typewriter
            var dataText = [ "apps.", "softwares.", "SaaS.", "sistemas.", "dashboards."];
            
            // type one text in the typwriter
            // keeps calling itself until the text is finished
            function typeWriter(text, i, fnCallback) {
                // chekc if text isn't finished yet
                if (i < (text.length)) {
                // add next character to h1
                document.querySelector(".select-type").innerHTML = text.substring(0, i+1) +'<span aria-hidden="true"></span>';

                // wait for a while and call this function again for next character
                setTimeout(function() {
                    typeWriter(text, i + 1, fnCallback)
                }, 100);
                }
                // text finished, call callback if there is a callback function
                else if (typeof fnCallback == 'function') {
                // call callback after timeout
                setTimeout(fnCallback, 2000);
                }
            }
            // start a typewriter animation for a text in the dataText array
            function StartTextAnimation(i) {
                if (typeof dataText[i] == 'undefined'){
                    setTimeout(function() {
                    StartTextAnimation(0);
                    }, 2000);
                }
                // check if dataText[i] exists
                if (i < dataText[i].length) {
                // text exists! start typewriter animation
                typeWriter(dataText[i], 0, function(){
                // after callback (and whole text has been animated), start next text
                StartTextAnimation(i + 1);
                });
                }
            }
            // start the text animation
            StartTextAnimation(0);
            });




